{{ $globalConfig := groupByLabel $ "caddy.global" }}
{{ if $globalConfig }}
{
{{ range $conf, $containers := $globalConfig }}
  {{ $conf }}
{{ end }}  
}
{{ end }}

{{ $hosts := groupByLabel $ "caddy.host" }}

{{ if not $hosts }}

127.0.0.1:2015
log {
    output stdout
}


{{ else }}

{{ range $h, $containers := $hosts }}
{{ $c := first $containers }}
{{ $allhosts := trim (index $c.Labels "caddy.host") }}
{{ range $t, $host := split $allhosts " " }}
{{ $tlsEmail := trim (index $c.Labels "caddy.tls.email") }}
{{ $tlsConfig := trim (index $c.Labels "caddy.tls.config") }}
{{ $tlsEnv := or $tlsEmail $tlsConfig }}
{{ $tlsOff := eq $tlsEnv "" }}
{{ $tlsOn := ne $tlsEnv "" }}
{{ $alias := trim (index $c.Labels "caddy.alias") }}
{{ $aliasPresent := ne $alias "" }}
{{ $authUsername := trim (index $c.Labels "caddy.auth.username") }}
{{ $authPassword := trim (index $c.Labels "caddy.auth.password") }}
{{ $basicauth := and (ne $authUsername "") (ne $authPassword "") }}

{{ if $aliasPresent  }}
{{ if $tlsOff }}http://{{ end }}{{ $alias }} {
  redir {{ if $tlsOff }}http://{{ else }}https://{{ end }}{{ $host }}
}
{{ end }}

{{ if $tlsOff }}http://{{ end }}{{ $host }} {
  {{ if $tlsOn }}tls {{ if $tlsEmail }}{{ $tlsEmail }}{{ end }}{{ if $tlsConfig }} {
    {{ $tlsConfig }} 
  }{{ end }}{{ end }}

  {{ if $basicauth }}
  basicauth / {
      {{ $authUsername }} {{ $authPassword }}
  }
  {{ end }}
  reverse_proxy {
    lb_policy round_robin
    {{ range $i, $container := $containers }}
    {{ range $j, $net := $container.Networks }}
    {{ $port := index $container.Labels "caddy.port" }}
    to {{ $net.IP }}:{{ if $port }}{{ trim $port }}{{ else }}80{{ end }}
    {{ end }}
    {{ end }}
  }

  encode zstd gzip
  log {
    output stdout
  }
}
{{ end }}
{{ end }}

{{ end }}
